{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>lanzar moneda</h1>
    {# le da igual las tabulaciones #}
    {% if num == 0 %}

    <p>cara</p>
<p>fasdfdasfd</p>

    {% else %}

    <p>cruz</p>
<p>dsafsdfdfsdsf</p>

    {% endif %}
    
</body>
</html>